fastapi==0.88.0
uvicorn==0.20.0
alembic==1.9.1
asyncpg==0.27.0
SQLAlchemy==1.4.45
# pip install 'fastapi-users[sqlalchemy]'
fastapi-users==10.2.1
fastapi-users-db-sqlalchemy==4.0.3
httpx==0.23.3